doctype html
html
  head
    title= title
    link(rel='shortcut icon', type='image/x-icon', href='/static/img/favicon.ico')
    link(rel='stylesheet', href='/static/bootstrap/3.3.5/css/bootstrap.min.css')
    script(type='text/javascript', src='/static/jquery/1.11.3/jquery.min.js')
    block head
  body
    block content
